@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Solicitud</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Delegar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Historico</a>
    </li>
</ul>
asdasdfasd <br />
asdasdfasd <br />
asdasdfasd <br />
asdasdfasd <br />
asdasdfasd <br />
asdasdfasd <br />