@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="content2">
    <h3 class="">Resumen</h3>
    <h3>
        <span class="label label-success">0</span>
        <a href="#" class="text-success">
            Abiertas
        </a>
    </h3>
    <h3>
        <span class="label label-warning">2</span>
        <a href="#" class="text-warning">
            Vencidas
        </a>
    </h3>
    <h3>
        <span class="label label-danger">4</span>
        <a href="#" class="text-danger">
            Vencidas
        </a>
    </h3>
</div>
